EMAIL_HOST=192.168.100.13
{% if mail_users|length > 1 %}
EMAIL_HOST_USER={{ mail_users.1.user }}@{{ mail_domain }}
EMAIL_HOST_PASSWORD={{ mail_users.1.password }}
{% else %}
EMAIL_HOST_USER={{ mail_users.0.user }}@{{ mail_domain }}
EMAIL_HOST_PASSWORD={{ mail_users.0.password }}
{% endif %}
RECIPIENT_ADDRESS={{ application_recipient_mail }}