# {{ ansible_managed }}

# options
max-log-backups = {{ certbot_max_log_backups }}

non-interactive = true

domains = {% for domain in certbot_domains %}{% if (loop.index) < (certbot_domains|length) %}{{ domain }}, {% else %}{{ domain }}{% endif %}{% endfor +%}

# automation
keep-until-expiring = {{ certbot_keep_until_expiring }}

renew-with-new-domains = {{ certbot_renew_with_new_domains }}

reuse-key = {{ certbot_reuse_key }}

agree-tos = true

quiet = true

# security
rsa-key-size = {{ certbot_rsa_key_size }}

key-type = {{ certbot_key_type }}

hsts = {{ certbot_hsts }}

# paths
config-dir = {{ certbot_config_dir }}

cert-path = {{ certbot_cert_path }}

key-path = {{ certbot_key_path }}

logs-dir = {{ certbot_logs_dir }}

server = {{ certbot_server }}

# account
email = {{  certbot_email }}
