driver = pgsql
connect = host={{ database_server_address }} dbname={{ mail_database_name }} user={{ mail_db_admin_name }} password={{ mail_db_admin_password }}
default_pass_scheme = {{ dovecot_default_pass_scheme }}
password_query = SELECT email as user, password FROM users WHERE email = '%u'
user_query = SELECT email as user, 'maildir:{{ dovecot_maildir }}/maildir/'||maildir as mail, '{{ dovecot_maildir }}/home/'||maildir as home, {{ dovecot_user.uid }} as uid, {{ dovecot_group.gid }} as gid FROM users WHERE email = '%u'