!include_try /usr/share/dovecot/protocols.d/*.protocol

protocols = {{ dovecot_protocols }}
listen = {{ dovecot_listen }}

dict {
{% for item in dovecot_dict %}
  {{ dovecot_dict.key }} = {{ dovecot_dict.value }}
{% endfor %}
}

userdb {
  driver = {{ dovecot_userdb.driver }}
  args = {{ dovecot_userdb.args }}
}

passdb {
  driver = {{ dovecot_passdb.driver }}
  args = {{ dovecot_passdb.args }}  
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = {{ postfix_group.name }}
    mode = 0600
    user = {{ postfix_user.name }}
  }
}

protocol lmtp {
  postmaster_address={{ mail_users.0.user }}@{{ mail_domain }}
  hostname={{ postfix_hostname }}
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = {{ postfix_group.name }}
    mode = 0660
    user = {{ postfix_user.name }}
  }
  unix_listener auth-userdb {
    mode = 0600
    user = {{ dovecot_user.name }}
  }
}

ssl = {{ dovecot_ssl }}
ssl_cert = <{{ mail_cert_public }}
ssl_key = <{{ mail_cert_private }}
ssl_cipher_list = {{ dovecot_ssl_cipher_list }}
#ssl_protocols = {{ dovecot_ssl_protocols }}
ssl_prefer_server_ciphers = {{ dovecot_ssl_prefer_server_ciphers }}

!include conf.d/*.conf
!include_try local.conf
