{% for mailbox in mail_users %}
SHA512PASS=`doveadm pw -s SHA512 -u {{ mailbox.user }}@{{ mail_domain }} -p {{ mailbox.password }} | tr -d '\n' ;`
PGPASSWORD={{ mail_db_admin_password }} psql -h {{ database_server_address }} -p {{ database_port }} -U {{ mail_db_admin_name }} -d {{ mail_database_name }} \
-c "INSERT INTO users (email, password, maildir)
VALUES ('{{ mailbox.user }}@{{ mail_domain }}', '"$SHA512PASS"', '{{ mailbox.user }}/')
ON CONFLICT (email) DO NOTHING;"

{% endfor %}