# PostgreSQL User Name Maps
# =========================
#
# Put your actual configuration here
# ----------------------------------
# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
mailmap         dovecot                 {{ mail_db_admin_name }}
mailmap         postfix                 {{ mail_db_admin_name }}
mailmap         root                    {{ mail_db_admin_name }}