EMAIL_HOST=mail
{% if containers_mail_users|length > 1 %}
EMAIL_HOST_USER={{ containers_mail_users.1.user }}@{{ containers_mail_domain }}
EMAIL_HOST_PASSWORD={{ containers_mail_users.1.password }}
{% else %}
EMAIL_HOST_USER={{ containers_mail_users.0.user }}@{{ containers_mail_domain }}
EMAIL_HOST_PASSWORD={{ containers_mail_users.0.password }}
{% endif %}
RECIPIENT_ADDRESS={{ containers_recipient_mail }}