abuse@{{ containers_mail_domain }} {{ containers_mail_users.0.user }}@{{ containers_mail_domain }}
webmaster@{{ containers_mail_domain }} {{ containers_mail_users.0.user }}@{{ containers_mail_domain }}
postmaster@{{ containers_mail_domain }} {{ containers_mail_users.0.user }}@{{ containers_mail_domain }}