version: '3.7'

services:

  app:
    build:
      context: .
      dockerfile: app.Dockerfile
    image: app
    container_name: app
    hostname: app
    ports:
      - "{{ containers_project_app_port }}:{{ containers_project_app_port }}"
#    volumes:
#      - "mail_volume:{{ project_path }}/mail"
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:{{ containers_project_app_port }} || exit 1"
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    networks:
      - app_network

  mail:
    build:
      context: .
      dockerfile: mail.Dockerfile
    image: mail
    container_name: mail
    hostname: mail
    volumes:
      - "./dkimkeys:/etc/opendkim/keys"
      - "./certs:/etc/postfix/certs"
#      - "mail_volume:/home/vmail"
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
    restart: unless-stopped
    healthcheck:
      test: "netstat -l | grep smtp"
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    networks:
      - app_network

networks:
  app_network:

#volumes:
#  mail_volume:
#    name: mail_volume
