FROM debian:bullseye-slim

EXPOSE 25 465 587

RUN apt-get update &&\
    apt-get upgrade -y &&\
    echo "postfix postfix/mailname string {{ containers_mail_domain }}" | debconf-set-selections &&\
    echo "postfix postfix/main_mailer_type string 'Internet Site'" | debconf-set-selections &&\
    apt-get install postfix dovecot-common opendkim spamassassin spamc -y &&\
    adduser spamd --disabled-login &&\
    apt-get clean

COPY ./mail/ /etc/

RUN chown root:root -R /etc/postfix/ &&\
    chmod -R 644 /etc/postfix/*.cf &&\
    chown root:root -R /etc/opendkim.conf &&\
    chmod 644 /etc/opendkim.conf &&\
    chown -R opendkim:opendkim /etc/opendkim &&\
    chmod -R 644 /etc/opendkim &&\
    chown root:root /etc/default/opendkim &&\
    chmod 644 /etc/default/opendkim &&\
    chown root:root /etc/default/spamassassin &&\
    chmod 644 /etc/default/spamassassin &&\
    postmap /etc/postfix/postfix-files.d/virtual_maildir_aliases.cf &&\
    postmap /etc/postfix/postfix-files.d/virtual_maildir_recipients.cf &&\
{% for item in containers_mail_users %}
    { echo -n "{{ item.user }}@{{ containers_mail_domain }}:" ; \
    doveadm pw -s SHA256-CRYPT -u {{ item.user }}@{{ containers_mail_domain }}: -p {{ item.password }} | \
    tr -d '\n' ; \
    echo ":postfix:postfix" ; } >> /etc/dovecot/users &&\
{% endfor %}
    chown -R root:dovecot /etc/dovecot/ &&\
    chown postfix:postfix /etc/dovecot/users &&\
    chmod 755 /etc/dovecot &&\
    chmod 640 /etc/dovecot/* &&\
    rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

ENTRYPOINT ["sh", "-c", "service postfix restart; service dovecot restart; tail -f /dev/null"]
