smtpd_banner = $myhostname ESMTP
biff = no
append_dot_mydomain = no
#delay_warning_time = 4h
readme_directory = no
compatibility_level = 2

smtpd_tls_cert_file={{ containers_mail_cert_public }}
smtpd_tls_key_file={{ containers_mail_cert_private }}
smtpd_tls_security_level=may

smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = mail.{{ containers_mail_domain }}
mydomain = {{ containers_mail_domain }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = $mydomain
mydestination = $myhostname, localhost.localdomain, localhost
relayhost = 
mynetworks = 127.0.0.0/8
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4

smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
broken_sasl_auth_clients = no

virtual_uid_maps = static:101
virtual_gid_maps = static:102
virtual_minimum_uid = 107
virtual_transport = virtual

virtual_mailbox_base = /home/vmail
#virtual_mailbox_domains = $mydomain
virtual_mailbox_maps = hash:/etc/postfix/postfix-files.d/virtual_maildir_recipients.cf
virtual_alias_maps = hash:/etc/postfix/postfix-files.d/virtual_maildir_aliases.cf

header_checks = regexp:/etc/postfix/header_checks