{% if spamassassin_bad_phrases != {} %}
body FILTER_CONTROL             /{% for phrase in spamassassin_bad_phrases %}{% if (loop.index) < (spamassassin_bad_phrases|length) %}{{ phrase }}|{% else %}{{ phrase }}{% endif %}{% endfor %}/i
describe FILTER_CONTROL         {{ spamassassin_filter_control_describe }}
score FILTER_CONTROL            {{ spamassassin_filter_control_score }}
{% endif %}