ok_locales {{ spamassassin_ok_locales }}
rewrite_header {{ spamassassin_rewrite_header }}
required_score {{ spamassassin_required_score }}
use_bayes {{ spamassassin_use_bayes }}
bayes_auto_learn {{ spamassassin_bayes_auto_learn }}
normalize_charset {{ spamassassin_normalize_charset }}

ifplugin Mail::SpamAssassin::Plugin::Shortcircuit
endif # Mail::SpamAssassin::Plugin::Shortcircuit

include /etc/spamassassin/99_filter.cf
