FROM python:3.11-alpine

ENV PYTHONUNBUFFERED=1

EXPOSE {{ application_project_app_port }}

RUN apk update &&\
    apk upgrade &&\
    apk add --no-cache postgresql-libs && \
    apk add --no-cache --virtual build-deps gcc musl-dev postgresql-dev postgresql-client &&\
    pip3 install --upgrade pip &&\
    pip3 install psycopg2

WORKDIR {{ project_path }}

COPY ./application {{ project_path }}
COPY .env {{ application_project_settings_dir }}/

RUN pip3 install --no-cache-dir -r requirements.txt &&\
    python3 "{{ project_path }}/{{ project_name }}/manage.py" migrate &&\
    rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

ENTRYPOINT ["python3", "{{ project_path }}/{{ project_name }}/manage.py", "runserver", "0.0.0.0:{{ application_project_app_port }}"]
