version: '3.7'

services:

  app:
    build:
      context: .
      dockerfile: app.Dockerfile
    image: app
    container_name: app
    hostname: app
    ports:
      - "{{ application_project_app_port }}:{{ application_project_app_port }}"
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:{{ application_project_app_port }} || exit 1"
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    networks:
      - app_network

networks:
  app_network:
