smtpd_banner = {{ postfix_smtpd_banner }}
biff = {{ postfix_biff_use }}
append_dot_mydomain = {{ postfix_append_dot_mydomain }}
readme_directory = {{ postfix_readme_directory }}
compatibility_level = {{ postfix_compatibility_level }}

smtpd_tls_cert_file = {{ mail_cert_public }}
smtpd_tls_key_file = {{ mail_cert_private }}
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}
smtpd_use_tls = {{ postfix_smtpd_use_tls }}
#smtpd_tls_protocols = {{ postfix_smtpd_tls_protocols }}
smtpd_sasl_auth_enable = {{ postfix_smtpd_sasl_auth_enable }}
smtpd_sasl_path = {{ postfix_smtpd_sasl_path }}
smtpd_sasl_type = {{ postfix_smtpd_sasl_type }}

smtp_tls_CApath = {{ postfix_smtp_tls_CApath }}
smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
smtp_tls_session_cache_database = {{ postfix_smtp_tls_cache_database }}

smtpd_sasl_tls_security_options = {{ postfix_smtpd_sasl_tls_security_options }}
smtpd_tls_session_cache_database = {{ postfix_smtpd_tls_cache_database }}
smtpd_relay_restrictions = {{ postfix_smtpd_relay_restrictions }}

myhostname = {{ postfix_hostname }}
mydomain = {{ mail_domain }}
myorigin = $mydomain

alias_maps = {{ postfix_alias_maps }}
alias_database = {{ postfix_alias_database }}
local_recipient_maps = {{ postfix_local_recipient_maps }}
mydestination = {{ postfix_mydestination }}
mailbox_transport = {{ postfix_mailbox_transport }}

relayhost = {{ postfix_relayhost }}
mynetworks = {{ postfix_mynetworks }}
mailbox_size_limit = {{ postfix_mailbox_size_limit }}
recipient_delimiter = {{ postfix_recipient_delimiter }}

inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
